@import url(https://db.onlinewebfonts.com/c/92d9892fa0ef64406bf151c8f730eff2?family=BBC+Reith+Serif);

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'BBC Reith Serif', serif;
}